:root{
    --primary-color: rgb(180, 105, 255);
    --white-color: #FFFFFF;
    --light-gray-color: #EEE;
    --gap: 3rem;
    --black-color: #000;
   }
   
   *{
       margin: 0;
       padding: 0;
   }
   
   html {
       font-size: 62.5%;
       scroll-behavior: smooth;
   }
   
   /*
   font-family: 'Montserrat', sans-serif;
   font-family: 'Open Sans', sans-serif;
   */
   
   body{
       font-family: 'Open Sans', sans-serif;
       font-size: 2rem;
       color: var(--primary-color)
   }
   
   h1, h2, h3, h4, h5, h6{
       font-family: 'Montserrat', sans-serif;
   }
   
   h1 {
       font-size: 6rem;
       text-transform: uppercase;
   }
   
   h2 {
       font-size: 5.5rem;
       text-transform: uppercase;
   }
   
   h3 {
       font-size: 5rem;
   }
   
   h4 {
       font-size: 4.5rem;
   }
   
   h5 {
       font-size: 4rem;
   }
   
   h6 {
       font-size: 3.5rem;
   }
   
   a{
       text-decoration: none;
   }
   
   p{
       margin-bottom: 3rem;
   }
   
   a:visited{
       color: var(--primary-color)
   }
   
   .main-bg {
       font-family: 'Open Sans', sans-serif;
       font-size: 1.6rem;
       background-color: var(--primary-color);
       background-size: cover;
       background-position: center;
       color: var(--white-color)
       
   }
   
   .white-bg {
       background: var(--white-color);
   }

   .title-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/main_bg.jpg");
    background-size: cover;
    background-position: center;
  }
  
   
   .main-content{
       max-width: 100rem;
       margin: 0 auto;
       padding: 4rem var(--gap)
   }
   
   .section  {
       min-height: 100vh;
   }
   
   .menu {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       width: 100%;
       border-bottom: 0.1rem solid var(--light-gray-color);
   }
   
   .menu-content{
       display: flex;
       justify-content: space-between;
   
       padding-top: 0;
       padding-bottom: 0;
   }
   
   .menu-spacing{
       height: 6.0rem;
   }
   
   .menu h1{
       height: 4rem;
   }
   
   .menu h1 a{
       display: block;
       font-size: 0rem;
   }
   
   .menu h1 a img{
       height: 4rem;
       width: 8rem;
       margin-top: 1rem;
   }
   
   .menu ul{
       list-style: none;
       display: flex;
   }
   
   .menu ul li a{
       display: block;
       padding: 1.8rem;
       font-size: 1.8rem;
   }
   
   .menu ul li a:hover {
       background-color: var(--light-gray-color);
       transition-duration: 700ms;
   }

.cadastro-heading{
    font-size: 5rem;
    color: var(--white-color);
    margin-bottom: 10rem;
}

.cadastro-form{
    border: 0.3rem solid var(--primary-color);
    padding: 0.5rem;
}

.cadastro-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
}

.form-group{
    flex: 1 1 320px;
}

.form-group label{
    width: 100%;
}

.form-group input{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    border: 0.3rem solid var(--primary-color);
    border-radius: 0.5rem;
}

.form-group button{
    border: 0.5rem solid var(--primary-color);
    background: none;
    color:var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background: var(--primary-color);
    color:var(--white-color);
}

.form-group::placeholder{
    color: var(--light-gray-color);
}

.buttons{
    margin-top: 1rem;
}
   
   footer{
       height: 12rem;
   }
   
   .footer-content {
       display: flex;
       justify-content: space-between;
       max-width: 100rem;
       margin: 0 auto;
       padding: 2rem var(--gap);
       font-size: 1.4rem;
   }
   
   .footer-content ul{
       list-style: none;
   }
   
   .footer-content ul li{
       margin-bottom: 0.5rem;
   }
   
   .footer-content p{
       margin-top: 4rem;
       margin-bottom: 0;
   }
   
   .footer-content a:visited{
       color: var(--white-color)
   }
   
   
   @media all and (max-width: 420px){
       h2{
           font-size: 3.5rem;
       }
   
       .menu h1{
           font-size: 1.5rem;
       }
   
       .menu-content{
           padding: 0.3rem 0;
       }
   
       .menu ul li a{
           font-size: 1.2rem;
       }
       
   }
